/* Add your own styles */
html, body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* background-color: antiquewhite; */
  /* max-width: 1000px; */
}
header {
  display: flex;
  background-color: teal;
  /* margin: auto; */
  padding: 10px 100px;
  text-align: left;
  align-items: center;
  /* grid-row: 1; */

}
.headerimg {
  width: 5%;
  height: 40px;
  width: 40px;
  object-fit: contain;
  margin-right: 10px;
}
h1 {
  text-transform: uppercase;
  color: white;
}
main {
    justify-content: center;
    align-items: center;
    /* display: flex; */
    /* flex-direction: column; */
    /* flex: 1; */
    padding: 0 50px;
    background-color: #f9f9f9;
    grid-column: 2;
    height: 100vh;


}
#LoginForm { 
    padding: 4em 0;
    text-align: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin: 0.5px;
}

h2 {
  font-weight: bold;
  font-size: 36px;
}

input {
  margin-top: 20px;
  text-align: left;
  padding: 15px 15px;
  width: 500px;
  border-radius: 8px;
  border: 1px solid;
}

.btn:hover {
  background-color: grey;
}

footer {
  background-color: aquamarine;
  padding: 20px;
  text-align: center;
  align-self: flex-end;
  width: 100%;
}

aside {
  float: left;
  /* width: 200px; */
  grid-column: 1;
  /* background-color: aqua; */
}

li {
  list-style: none;
  text-align: left;
  line-height: 50px;
}

#container {
  display: grid;
  grid-template-columns: 200px auto;

}

.filter-buttons {
  display: flex;
  gap: 10px;
}

.filter-button {
  padding: 8px;
  cursor: pointer;
}

/* Login form style */

#LoginForm {
  width: 460px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 8px;
}

.login-container {
  display: flex;
  flex-direction: column;
}

.lock-icon {
  color: #b1b4b9;
  font-size: 20px;
  margin-left: 15px;
}

#loginForm .input-container {
  margin: 15px 0; /* Adjusted margin for top and bottom */
}

#loginForm input {
  width: calc(100% - 20px);
  height: 40px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  margin: 0px 0;
  padding: 15px 0;
  border-radius: 8px;
  background-color: teal;
  color: #fff;
  border: none;
  cursor: pointer;
  width: calc(100% - 20px);
  display: flex;
  justify-content: center;
}
#loginForm input[type="submit"] {
  background-color: teal;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 15px 0;
  border-radius: 8px;
  width: calc(100% - 20px);
  box-sizing: border-box;
  margin-bottom: 10px; /* Adjusted margin for bottom */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
