/* Login form style */

#LoginForm {
  width: 460px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 8px;
}

.login-container {
  display: flex;
  flex-direction: column;
}

#loginForm .input-container {
  margin: 15px 0; /* Adjusted margin for top and bottom */
}

#loginForm input {
  width: calc(100% - 20px);
  height: 40px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  margin: 0px 0;
  padding: 15px 0;
  border-radius: 8px;
  background-color: teal;
  color: #fff;
  border: none;
  cursor: pointer;
  width: calc(100% - 20px);
  display: flex;
  justify-content: center;
}
#loginForm input[type="submit"] {
  background-color: teal;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 15px 0;
  border-radius: 8px;
  width: calc(100% - 20px);
  box-sizing: border-box;
  margin-bottom: 10px; /* Adjusted margin for bottom */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
