#head {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}

h2 { 
    margin: 0;
}

#resultTable {
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    width: 100%;
    }
tr:first-child th:first-child {
border-top-left-radius: 10px;
}
tr:first-child th:last-child {
border-top-right-radius: 10px;
}
tr:last-child td:first-child {
border-bottom-left-radius: 10px;
}
tr:last-child td:last-child {
border-bottom-right-radius: 10px;
}
.tableContainer {
background-color: #ffffff;
padding: 20px;
border: 1px solid #cccccc;
border-radius: 6px;

}

th, td {
    border: 1px solid #cccccc;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f9f9f9;
  }

  button {
    background-color: #0099ff;
    color: #ffffff;
    border: 1px solid #0099ff;
    padding: 8px 8px;
    cursor: pointer;
  }
  button:hover {
    background-color: #0077cc;
  }

  .filter-button {
    background-color: #ffffff;
    border: none;
    color: lightgray;
  }

  .filter-buttons {
    padding-bottom: 15px;
  }

  .selected {
    background-color: #4CAF50 !important; /* Add your desired background color */
    color: #fff !important; /* Add your desired text color */
    border-bottom: 3px solid #0077cc !important;
}
